@charset 'utf-8';

.hero-content{
    height: 100%;
    height: 100vh;
}

.header{
    background-color: ##E02A26;
}

.game{
    background-color: #;
}

.game canvas{
    margin: 0 auto;
}

.team{
    background-color: #;
}